
{% extends 'base.html' %}
{% load static %}

{% block main %}
{% block hero %}{% endblock hero %}


  
	<div class="container text-center career">
		<div class="row">
			{% for object in object_list %}
				<div class="col-3">
					<a href="{% url 'scaapp:course-detail' object.id %}">
					<div class="card" style="width: 18rem;">
						<img src="{{object.image.url}}" class="card-img" alt="...">
						<div class="card-body">
							<p class="card-text">{{ object.name }} {% for tag in object.tags.all %} {{ tag }} {% endfor %}</p>	
						</div>
					</div>
					</a>
				</div>
			{% endfor %}
		</div>
	  </div>
	  
	  <style>
		.pagination {
		   display: flex;
		   justify-content: center;
		}
		</style>
		<div class="pagination">
			
			<span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page=1">&laquo;</a>
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
				{% endif %}
		
				<span class="current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
		
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					<a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
				{% endif %}
			</span>
			
		</div>
	

{% endblock main %}
	  