

{% extends 'base.html' %}

{% block main %}
{% load static %}

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/college.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>About Online career advice system</h3>
            <p class="fst-italic">
              Education seekers get a personalised experience on our site,
               based on educational background and career interest, 
               enabling them to make well informed course and career decisions. 
               The decision making is empowered with easy access to detailed information
                on career choices, courses, exams, colleges, admission criteria, eligibility,
                 placement statistics, rankings, reviews, scholarships, latest updates etc as 
                 well as by interacting with other career.ly users, experts, current students in 
                 colleges and alumni groups. We have introduced several student oriented products
                  and tools like Career Prediction, Knowledge Network, Daily Bytes, Blogs, 
                  Community discussion forum, and various Courses.
            </p> 
          </div>
        </div>
      </div>
    </section>


    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose CAREERS?</h3>
              <p>
                Secondary career advice system</b> is one stop destination <br>
                in helping you understand yourself, the best career for you <br> 
                and providing all the resources in the process.
              </p>
            </div>
          </div>
          
          </div>
        </div>

      </div>
    </section>


    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
          
        
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <h3><a href="{% url 'scaapp:career' param='engineering' %}">Engineering</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <h3><a href="{% url 'scaapp:career' param='health' %}">Health</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <h3><a href="{% url 'scaapp:career' param='business' %}">Business</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <h3><a href="{% url 'scaapp:career' param='education' %}">Education</a></h3>
            </div>
          </div>
         
          </div>
        </div>

      </div>
    </section>


    
    {% endblock main %}


  